# Ignore all
*

# Unignore all w/ extensions
!*.*

# Unignore directories
!*/

# Unignore makefiles
Makefile

# Ignore Binaries
*.o

# Ignore save files
*.*~

# Ignore tars
*.tar.gz

# Ignore macs
.DS_Store

# Ignore PDFs
*.pdf

# Ignore disas
*.disas
